.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.header-logo {
  height: 28px;
  max-width: 145px;
  margin-right: 25px;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}
.header-location-search-container {
  height: 58px;
  display: flex;
  align-items: center;
  background-color: var(--primary-bg);
  border-radius: 0.8rem;
  box-shadow: var(--primary-box-shadow);
  border: 1px solid var(--border-white);
  width: 70%;
}

.location-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0px 10px;
}
.location-icon-name {
  display: flex;
  color: var(--zomato-gray);
}
.location-icon {
  color: var(--zomato-red);
  font-size: 20px;
  margin-right: 10px;
}
.location-search-separator {
  height: 24px;
  border: 0.3px solid rgb(177, 166, 166);
}
.header-search-bar {
  display: flex;
  flex: 2;
}
.search-icon {
  font-size: 18px;

  color: var(--zomato-gray);
  margin: 0 13px;
}
.search-input {
  border: none;
  outline: none;
  width: 67%;
  font-size: 15px;
}
.profile-wrapper {
  display: flex;
  justify-content: space-between;
  width: 18%;
  align-items: center;
}
.header-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header-username {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
